services:
  server:
    build: .
    command: npm start
    ports:
      - "3000:3000"
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_USER: api_user
      MYSQL_PASSWORD: api123
      MYSQL_DATABASE: loja
    ports:
      - "3306:3306"
    # volumes:
    #   - pgdata:/var/lib/mysql/data
    

