services:
  server:
    build: .
    command: npm start
    ports:
      - "3000:3000"
    depends_on:
      - db
    env_file: 
      - path: ./.env
        required: true

  db:
    image: postgres:16
    container_name: postgres-db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes: 
  postgres_data:
